<p-card header="Thomas Bawssy"
    [style]="{width: '360px', 'background-color':'black' ,'text-align': 'center', 'color' : 'white'}">
    <p style="margin-top:0px"><strong>Estudiante de Ingenieria de Ejecucion en Computacion e
            Informatica</strong></p>
    <ng-template pTemplate="header">
        <img alt="Card" src="assets/Escudo_fondo_oscuro.png" style="height: 100px; width:180px;">
    </ng-template>
    <p style="font-size: 14px; text-align:left">Estudiante de la Universidad del Bio-Bio ingresado en el año
        2022,
        jugador de Rugby para la Universidad del Bio-Bio y exjugador profesional de CS:GO y League of Legends,
        actualmente retirado de los 2 esports</p>
    <ng-template pTemplate="footer">

    </ng-template>
</p-card>